<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/main_style.css">
</head>
<body>
    
    <div class="header-top">
        <div class="logo-container">
            <img src="#" alt="logo">
            <span>ИнфоShlapa</span>
        </div>
    </div>
    <main class="main">
        <section class="categories">
            <a href="#">ИнфоShlapa</a>
            <nav class="nav">
                <a href="#">Политика</a>
                <a href="#">Культура</a>
                <a href="#">Спорт</a>
                <a href="#">Экономика</a>
                <a href="#">Курс валют</a>
            </nav>
        </section>
        <div class="date">
            <span id="current-date">1 марта 2025</span>
            <hr>
        </div>

        <section class="news-section">
            <div class="test"></div>
            <div class="test"></div>
            <div class="test"></div>
            <div class="test"></div>
            <div class="test"></div>
            <div class="test"></div>
            <div class="test"></div>
            <div class="test"></div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer-content">
            <span>©2025 ИнфоSlapa</span>
            <div class="messenger-icons">
            <img src="#" alt="telegram">
            </div>
        </div>
    </footer>
</body>
</html>