<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИнфоShlapa - новостной агрегатор</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../style/main_style.css">
    <link rel="stylesheet" href="../style/news_card.css">
</head>
<body>

    <!--логотип-->
    <div class="header-top">
        <div class="logo-container">
            <img src="../image/logotest.png" alt="logo">
            <span class="island-moments-font">ИнфоShlapa</span>
        </div>
    </div>

    <!--<div class="up-arrow">!</div>-->

    <!--основной блок-->
    <main class="main">
        

        

        <!--блок новостей-->
        
        <div id="app">

            <!--верхняя панель-->
        <section class="categories">

            <a 
                class="category-link island-moments-font"
                :class="{ active: currentCategory === 'all' }"
                href="#"
                @click.prevent="setCategory('all')"
                >
                ИнфоShlapa</a>

            <nav class="nav">

                <a 
                    class="category-link"
                    :class="{ active: currentCategory === 'Политика' }"
                    href="#"
                    @click.prevent="setCategory('Политика')"
                >
                Политика</a>

                <a 
                    class="category-link"
                    :class="{ active: currentCategory === 'Культура' }"
                    href="#"
                    @click.prevent="setCategory('Культура')"
                >
                Культура</a>

                <a 
                    class="category-link"
                    :class="{ active: currentCategory === 'Спорт' }"
                    href="#"
                    @click.prevent="setCategory('Спорт')"
                >Спорт</a>

                <a 
                    class="category-link"
                    :class="{ active: currentCategory === 'Экономика' }"
                    href="#"
                    @click.prevent="setCategory('Экономика')"
                >Экономика</a>

                <a 
                    class="category-link"
                    :class="{ active: currentCategory === 'Криптовалюта' }"
                    href="#"
                    @click.prevent="setCategory('Криптовалюта')"
                >Криптовалюта</a>

                <a 
                    class="category-link"
                    :class="{ active: currentCategory === 'Технологии' }"
                    href="#"
                    @click.prevent="setCategory('Технологии')"
                >Технологии</a>

            </nav>
        </section>

            
            <!--дата-->
        <div class="date">
            <span id="current-date">{{ formattedDateTime }}</span>
            <hr>
        </div>

            <div class="news-container">
            <news-card
                v-for="newsItem in filteredNews"
                :key="newsItem.id"
                :news="newsItem"
            ></news-card>
        </div>
        </div> 
        
        <button v-if="hasMore" @click="loadMore">Загрузить ещё</button>

    </main>

    <!--подвал-->
    <footer class="footer">
        <span>© 2025 ИнфоSlapa</span>
        <div class="messenger-icons">
        <a href=""><img src="#" alt="telegram"></a>
        </div>
    </footer>

    <!--подключение vue.js-->
    <!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>подключение vue.js-->
    <script src="../script/news_card.js"></script>
</body>
</html>