<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ИнфоShlapa - новостной агрегатор</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/static/main_style.css">
  <link rel="stylesheet" href="/static/news_card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Add this line to link to the AI widget style -->
  <link rel="stylesheet" href="/static/ai_widget.css">
</head>

<body>

  <!--логотип-->
  <div class="header-top">
    <div class="logo-container">
      <!--<img src="" alt="logo">-->
      <span class="island-moments-font">ИнфоShlapa</span>
    </div>
  </div>

  <!--<div class="up-arrow">!</div>-->

  <!--основной блок-->
  <main class="main">

    <!--блок новостей-->

    <div id="app">

      <!--верхняя панель-->
      <!-- "бизнес", "развлечения", "здоровье", "наука", "спорт", "технологии" -->
      <section class="categories">
        <a class="category-link island-moments-font" :class="{ active: currentCategory === 'all' }" href="#"
          @click.prevent="setCategory('all')">
          ИнфоShlapa
        </a>

        <button class="burger-button" @click="toggleMenu" v-if="isMobile">
          <i class="fas fa-bars"></i>
        </button>

        <nav class="nav" :class="{ 'burger-menu': isMobile, 'show': menuVisible }">
          <a class="category-link" :class="{ active: currentCategory === 'бизнес' }" href="#"
            @click.prevent="setCategory('бизнес')" @click="toggleMenu">бизнес</a>
          <a class="category-link" :class="{ active: currentCategory === 'развлечения' }" href="#"
            @click.prevent="setCategory('развлечения')" @click="toggleMenu">развлечения</a>
          <a class="category-link" :class="{ active: currentCategory === 'здоровье' }" href="#"
            @click.prevent="setCategory('здоровье')" @click="toggleMenu">здоровье</a>
          <a class="category-link" :class="{ active: currentCategory === 'наука' }" href="#"
            @click.prevent="setCategory('наука')" @click="toggleMenu">наука</a>
          <a class="category-link" :class="{ active: currentCategory === 'спорт' }" href="#"
            @click.prevent="setCategory('спорт')" @click="toggleMenu">спорт</a>
          <a class="category-link" :class="{ active: currentCategory === 'технологии' }" href="#"
            @click.prevent="setCategory('технологии')" @click="toggleMenu">технологии</a>

        </nav>
      </section>


      <!--дата-->
      <div class="date">
        <span id="current-date">{{ formattedDateTime }}</span>
        <hr>
      </div>

      <div class="news-container">
        <news-card v-for="newsItem in filteredNews" :key="newsItem.id" :news="newsItem"></news-card>
      </div>

      <button @click="loadMore" v-if="hasMore" class="load-more-btn">
        Загрузить ещё
      </button>



      <div class="ai-widget" :class="{ expanded: isAIWidgetExpanded }">
        <div class="ai-widget-head" @click="toggleAIWidget">Задать вопрос ИИ</div>
  
        <div class="ai-widget-content">
          <p class="ai-widget-info">Задайте вопрос по непонятной вам теме, и искусственный интеллект объяснит вам её.</p>
          
          <!-- Conditional Loading and Response -->
          <p v-if="isAILoading">Загрузка...</p>
          <p v-else-if="aiResponse">{{ aiResponse }}</p>

          <label>
            <input type="text" placeholder="Введите ваш вопрос..." v-model="aiQuestion">
            <button @click="askAI" :disabled="isAILoading">></button>
          </label>
          
        </div>
      </div>


    </div>

  </main>

  <!--подвал-->
  <footer class="footer">
    <span>© 2025 ИнфоSlapa</span>
    <div class="messenger-icons">
      <a href="#">telegram</a>
    </div>
  </footer>

  <!--подключение vue.js-->
  <!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
  <script src="static/app.js"></script>
</body>

</html>